@import url(https://db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse+Bold);
@font-face {
    font-family: "Norse Bold";
    src: url("https://db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot");
    src: url("https://db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.svg#Norse Bold")format("svg");
}

* {
    /* border: 1px solid red; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: #E5E7EB;
}

.img-section {
    background-image: url(images/background.jpg);
    background-size: cover;
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.odin-logo-section {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 18vh;
    padding: 10px;

    background-color: rgb(0, 0, 0, 0.5);
}

.odin-logo-section > img {
    width: 100px;
    height: auto;
}

.odin-logo-section > .logo-text {
    font-size: 100px;
    font-family: "Norse Bold";
    color: white;
}

.picture-credit {
    display: flex;
    justify-content: center;
    margin: 1vh;
}

.credit-text, 
.credit-text > a {
    color: white;
    font-size: 14px;
    opacity: 0.8;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form-section-2 {
    background-color: white;

    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 300px;

    box-shadow: 0px 8px 5px grey;
}

.form-section-2 > .text {
    font-size: 24px;
    font-weight: 600;

    padding-bottom: 20px;
}

.form-content {
    display: flex;
    gap: 50px;
}

.form-right-hand-side,
.form-left-hand-side {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.form-first-name,
.form-email,
.form-password, 
.form-last-name,
.form-phone-number,
.form-confirmed-password {
    display: flex;
    flex-direction: column;
    gap: 6px;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

#first-name,
#email,
#password,
#last-name,
#phone-number,
#confirmed-password {
    width: 300px;
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;

    padding: 10px;
    font: 24px;
}

.text-part-1 > .text,
.text-part-2 > .text {
    line-height: 1.5;
    font-weight: 600;
    font-size: 18px;
}

span {
    font-style: italic;
}

.form-section-1 {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 50px;
    padding-bottom: 0px;
    margin-bottom: 40px;
}

.form-section-3 {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 30px;
    margin: 50px;
}

.form-section-3 > button {
    width: fit-content;
    padding: 12px 60px;
    border-radius: 8px;
    border: none;

    font-size: 18px;
    background-color: #596D48;
    color: white;

    box-shadow: 0px 6px 3px grey;
}

.form-section-3 > .text > a {
    color: #596D48;
    font-size: 18px;
}